@import "tailwindcss";

@theme {
  --color-one: #E1eff6;
  --color-two: #070600;
  --color-three: #426a5a;
  --color-four: #a71d31;
  --color-five: #f6ae2d;

  --breakpoint-xs: 375px;
  --xs: 375px;
  --breakpoint-sm: 575px;
  --sm: 575px;
  --breakpoint-md: 768px;
  --md: 768px;
  --breakpoint-lg: 992px;
  --lg: 992px;
  --breakpoint-xl: 1200px;
  --xl: 1200px;
  --breakpoint-xxl: 1600px;
  --xxl: 1600px;

  --full-12: calc(100% - 48px);
  --scrh-12: calc(100vh - 48px);
  --full-sx: calc(100% - 375px);
  --full-md: calc(100% - 768px);
  --lg-md: calc(992px - 768px);
  --xl-lg: calc(1200px - 992px)
}

.dangerous_box {
  font-size: 16px;
  margin-bottom: 24px;
}

.dangerous_box h1 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.25;
  margin: 12px 0 0;
}

.dangerous_box h2 {
  font-size: 1.25em;
  font-weight: 700;
  margin: 8px 0 0;
  line-height: 1.25;
}

.dangerous_box h3 {
  line-height: 1.25rem;
  font-size: 1.125em;
  font-weight: 600;
  margin: 8px 0 0;
}

.dangerous_box h4 {
  font-size: 1em;
  font-weight: 700;
  margin: 4px 0;
}

.dangerous_box h5 {
  font-size: 0.875em;
  font-weight: 700;
}

.dangerous_box i {
  font-size: small;
}

.dangerous_box img {
  width: 100%;
}

.dangerous_box em {
  opacity: 0.75;
  display: block;
  text-align: center;
  font-size: 0.875rem;
}

.dangerous_box ul {
  padding-left: 20px;
}

.dangerous_box ul li {
  list-style: disc;
}

.dangerous_box pre {
  /* border: 1px solid var(--color-five); */
  backdrop-filter: brightness(0.95);
  line-height: 0.375;
  padding: 24px;
  font-size: 0.875em;
  overflow: auto;
}

.dangerous_box pre::-webkit-scrollbar {
  display: none;
}

.dangerous_box pre pre {
  padding: 0;
}

.dangerous_box pre pre div {
  margin: 0;
}

.dangerous_box p {
  margin: 0px 0 4px;
  line-height: 1.35;
}

.dangerous_box ol {
  margin-bottom: 4px;
}

.dangerous_box ol li {
  list-style: decimal;
  list-style-position: inside;
  line-height: 1.75rem;
}

.dangerous_box p strong {
  font-weight: 700;
}

.dangerous_box figure,
p {
  overflow: hidden;
  border-radius: 8px;
}

body {
  font-family: var(--font-sans);
}